aiohttp
aiosignal
alembic
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
backcall
backports.functools-lru-cache
bcrypt
beautifulsoup4
bidict
bleach
blinker
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
email-validator
exceptiongroup
executing
fastjsonschema
Flask
Flask-Bcrypt
Flask-Dance
Flask-Login
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
fonttools
fqdn
frozendict
frozenlist
greenlet
gunicorn
h11
html5lib
httpcore
idna
importlib-metadata
importlib-resources
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
lxml
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
multitasking
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numpy
oauthlib
openai
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip
platformdirs
plotly
prometheus-client
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
python-dateutil
python-dotenv
python-engineio
python-json-logger
python-socketio
pytz
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
Send2Trash
setuptools
six
sniffio
soupsieve
SQLAlchemy
stack-data
tenacity
terminado
tinycss2
tomli
tornado
tqdm
traitlets
typing_extensions
tzdata
uri-template
urllib3
URLObject
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
WTForms
yarl
yfinance
zipp